# series data structures of pandas

In [3]:
import pandas as pd

In [2]:
# above coomand successfully runs means pandas is installed successfully

In [6]:
import pandas as pd
x=[3,4,5,6,7,8]           # taking list as input 
var=pd.Series(x)
print(var)
print(type(var))          #   which type of series 
print(var[2])             # give the value at index 2

0    3
1    4
2    5
3    6
4    7
5    8
dtype: int64
<class 'pandas.core.series.Series'>
5

In [7]:
# giving index by our own and want to chnage it

import pandas as pd
x=[1,3,4,6]
var=pd.Series(x,index=['a','s','d','f'])
print(var)

a    1
s    3
d    4
f    6
dtype: int64

In [8]:
# we can chnge the dtype as well

import pandas as pd
x=[1,3,4,6]
var=pd.Series(x,index=['a','s','d','f'],dtype="float")
print(var)

a    1.0
s    3.0
d    4.0
f    6.0
dtype: float64

In [12]:
# name paramter i.e we can give the name to a data also

import pandas as pd
x=[1,3,4,6]
var=pd.Series(x,index=['a','s','d','f'],dtype="float",name = "rajat")
var

a    1.0
s    3.0
d    4.0
f    6.0
Name: rajat, dtype: float64

#  by dictionary

In [11]:
dic = { "name" : ['rajat','sahil','aniket','prashant'], "por" : [11,12,13,14] , "rank" : [1,4,3,2]}
var1=pd.Series(dic)
var1                       # we can give directly var1 or print(var1) works same

name    [rajat, sahil, aniket, prashant]
por                     [11, 12, 13, 14]
rank                        [1, 4, 3, 2]
dtype: object

In [13]:
x=pd.Series(12)
print(x)

0    12
dtype: int64

In [14]:
x=pd.Series(12,index=[1,2,3,4,5,6,7])
print(x)

1    12
2    12
3    12
4    12
5    12
6    12
7    12
dtype: int64

In [15]:
x=pd.Series(12,index=[1,2,3,4,5,6,7])
x1=pd.Series(12,index=[1,2,3,4])            
print(x+x1)                     # it will add till 4th index because both variable has vale till 4th index and 5,6,7 index x1 does not have value so after adding the value will be none

1    24.0
2    24.0
3    24.0
4    24.0
5     NaN
6     NaN
7     NaN
dtype: float64